[submodule "3rdparty/ps-lite"]
	path = 3rdparty/ps-lite
	url = https://github.com/bytedance/ps-lite
	branch = byteps
[submodule "3rdparty/BitMagic"]
	path = 3rdparty/BitMagic
	url = https://github.com/tlk00/BitMagic.git
